<container class="header-container">
  <row class="header-main-row">
    <columns>
      <spacer size="15px"></spacer>
      <img
        src="https://i.postimg.cc/6qtTJ4bW/Coinbase-logo-PNG1.png"
        alt="coin base logo"
      />
      <spacer size="20px"></spacer>
      <h1>Join us for the 12 days of Coinbase</h1>
      <p>
        This holiday season we're celebrating the best of crypto with news and
        donations to make the world brighter.
      </p>
      <spacer size="40px"></spacer>
      <a class="whats-next" href="#">See what's next</a>
      <spacer size="60px"></spacer>
    </columns>
  </row>
</container>
